/* .page-shutter {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background: #565656;
  z-index: 99999;
  pointer-events: none;
  will-change: left;

} */


/* .page-shutter {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(105deg, #181818 0%, #767676 55%, #ececec 100%);
  box-shadow: 12px 0 35px rgba(0, 0, 0, 0.16);
  z-index: 99999;
  pointer-events: none;
  will-change: left;
} */




.page-shutter {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  pointer-events: none;
  background: linear-gradient(115deg, rgba(18, 18, 22, 0.96) 0%, rgba(38, 38, 45, 0.94) 48%, rgba(20, 20, 25, 0.97) 100%);
  border-right: 1px solid rgba(255, 255, 255, 0.14);
  box-shadow: 18px 0 45px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  will-change: left;
}

