#clear{
    width: auto;
    height: 35px;
    background-color: cadetblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: 600;
    border-radius: 4px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#clear:hover{
    transform: scale(0.9);
}
#clear:active{
    background-color: #efeded;
    color: #111;
    border: solid 1.4px rgb(46, 46, 46);
}
.btn_parrent{
    width: 100vw;
    height: 120px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid_parrent{
    width: 350px;
    height: 280px;
}